*{margin:0;padding:0;border:0;}
html{font-size:62.5%;}
@media all and (min-width: 400px) { html{font-size:78%;}}
body{font-family:'microsoft yahei','宋体',arial,"Times New Roman",Georgia,Serif;background-color:#d9d3c9;}

.book_top{text-align:left;margin:0 auto; background-color:#ae9f88;border-bottom:1px solid #979797;padding:1rem 0 1rem 2rem;}
.book_container{max-width: 650px;margin:0 auto; padding:2rem;text-align:left;font-size:1.6rem;line-height:2rem;color:#806233;word-break:break-all;}

.book-title{font-size:2rem;margin-bottom:1rem;}
.book-info{font-size:1.4rem;}
.book-txt{margin-top:1rem;}

